*{
    margin: 0;
    box-sizing: border-box;

}

header{
    grid-area: header;
    background-color: #003087;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
    
}

menu{
    grid-area: menu;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: #003087;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

body{

    display: grid;
    grid-template-areas:
    "header header header "
    "menu main main "
    "footer footer footer ";
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* height: 100vh; */
    column-gap: 5px;
    row-gap: 5px;
    padding: 10px;
    background: #D4DCFF;
    background: linear-gradient(180deg, rgba(212, 220, 255, 1) 0%, rgba(255, 255, 255, 1) 65%);
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));


    
}



body{

    font-family: roboto, sans-serif;
    font-style: normal;
    font-size:small;
    
}


menu{
    /* border: 2px solid blue; */
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    border-right:  solid 1.5px #E8EBE4;

} 


.user{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 10px;
    width: 100%;
    
 }

.user img{
    height: 250px;
    width: auto;
    /* border-radius:3% ; */
    /* border: solid 1px #003087; */
    
}

.user-container{
    display: flex;
    flex-direction: column ;
    /* width: 100%; */
    justify-content: end;
    border: solid 1px #D4DCFF;
    background-color: white;
    height: fit-content;
    
    /* justify-content: center;
    align-items: center; */
    /* gap: 2rem; */
}

.user h3{
    font-style: italic;
    font-weight: bold;
    color: #003087;
}
.perfume{
    font-weight: bold;
    color: #003087;
    text-decoration-color: #A491D2;

 }

.buy{
    
    background-color: #003087;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
